extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac libero a mi rutrum pulvinar. Nunc fringilla leo tortor, at posuere mi molestie eget. Phasellus vel tempus sem. Sed id odio vel nulla viverra dapibus nec tempor turpis. Nulla aliquet diam id elit pretium ultricies. Vestibulum condimentum enim interdum, laoreet ex non, elementum turpis. Nam nibh lectus, auctor vitae tincidunt a, malesuada ut sem. 

                p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. In hac habitasse platea dictumst. Sed commodo nibh sit amet diam faucibus lobortis. Vestibulum vitae risus rutrum mauris feugiat vehicula. Quisque pulvinar ut sem sit amet mattis. Phasellus placerat viverra ipsum, et egestas est laoreet sit amet. 

                p Ut malesuada tristique purus id interdum. Sed efficitur ante tincidunt, auctor sem id, gravida erat. Etiam lectus nisl, molestie et ante et, interdum semper nisl. Donec nibh ante, lacinia ut suscipit quis, pellentesque quis urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla aliquam odio vitae tortor congue, quis posuere ex tincidunt. Fusce et enim vestibulum, viverra nulla ac, volutpat turpis.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Quisque pulvinar ut sem sit amet mattis. Phasellus placerat viverra ipsum, et egestas est laoreet sit amet. 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Quisque pulvinar ut sem sit amet mattis. Phasellus placerat viverra ipsum, et egestas est laoreet sit amet.
                .col-md-4 
                
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Quisque pulvinar ut sem sit amet mattis. Phasellus placerat viverra ipsum, et egestas est laoreet sit amet.